body {
    background: rgb(236, 232, 232);
    color: white;
    background-image: url(https://wallpaperset.com/w/full/5/7/2/211464.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
  }
  
  .text {
   text-align: center;
    padding: 10px;
    font-size: 2rem;
    font-weight: 600;
  }
  
  .box {
    width: 100px;
    height: 100px;
    position: relative;
    top: 100px;
    left: 20%;
    background-color: cornsilk;
    border: 1px solid black;
    font-size: 1.5em;
    line-height: 100px;
  }
  
  